@{
    ViewData["Title"] = "About Us";
}
<div class="page-title pt-config">
    <h3>@ViewData["Title"]</h3>
    <p class="va-config">Meet our team</p>
</div>

<hr />

<div class="pt-config">
    <div class="col d-flex align-about-us">
        <div class="columns">
            <img class="icon-ed" src="~/avatars/thorfinn.jpg" />
            <h5>Paulo Eduardo</h5>
            <a href="https://www.linkedin.com/in/paulo-eduardo-franzen-panstein-8a9094249/" target="_blank" class="custom-link">
                <i class="uil uil-linkedin"></i>
                <span class="text-ed">LinkedIn</span>
            </a>
            <a href="https://github.com/eduardoPauloPanstein" target="_blank" class="custom-link">
                <i class="uil uil-github"></i>
                <span class="text-ed">GitHub</span>
            </a>
        </div>
        <div class="columns">
            <img class="icon-ed" src="~/avatars/asta.jpg" />
            <h5>Gabriel Felipe</h5>
            <a href="https://www.linkedin.com/in/gabriel-felipe-nicoletti-102706191/" target="_blank" class="custom-link">
                <i class="uil uil-linkedin"></i>
                <span class="text-ed">LinkedIn</span>
            </a>
            <a href="https://github.com/Nicolettigf" target="_blank" class="custom-link">
                <i class="uil uil-github"></i>
                <span class="text-ed">GitHub</span>
            </a>
        </div>
        <div class="columns">
            <img class="icon-ed" src="~/avatars/joyboy.jpg" />

            <h5>Lucas William</h5>
            <a href="https://www.linkedin.com/in/lucas-william-peschke-b326ba248/" target="_blank" class="custom-link">
                <i class="uil uil-linkedin"></i>
                <span class="text-ed">LinkedIn</span>
            </a>
            <a href="https://github.com/Lucas-Peschke" target="_blank" class="custom-link">
                <i class="uil uil-github"></i>
                <span class="text-ed">GitHub</span>
            </a>
        </div>
        @*<div class="columns">
            <img class="icon-ed" src="~/avatars/tomie.jpg"/>
            <h5>Leonardo</h5> linkedin do menino
            <a href="" class="custom-link">
            <i class="uil uil-linkedin"></i>
            <span class="text-ed">LinkedIn</span>
            </a>
            <a href="https://github.com/lil-nardo" target="_blank" class="custom-link">
            <i class="uil uil-github"></i>
            <span class="text-ed">GitHub</span>
            </a>
            </div>*@
        <div class="columns">
            <img class="icon-ed" src="~/avatars/yato.jpg" />
            <h5>Júlia</h5>
            <a href="https://www.linkedin.com/in/j%C3%BAlia-nogueira-de-souza-315926247/" target="_blank" class="custom-link">
                <i class="uil uil-linkedin"></i>
                <span class="text-ed">LinkedIn</span>
            </a>

            <a href="https://github.com/Julia-Nogueira" target="_blank" class="custom-link">
                <i class="uil uil-github"></i>
                <span class="text-ed">GitHub</span>
            </a>
        </div>
    </div>
    <div>
        <hr class="pt-config">
        <h3 id="OurCodeId" class="pt-config">Our Code</h3>
    </div>
    <div class="columns">
        <p id="centerId"><a href="https://github.com/eduardoPauloPanstein/MangaProject" target="_blank" id="linkId">Click here </a> to acess our code</p>

        <a href="https://github.com/eduardoPauloPanstein/MangaProject" target="_blank"><img class="d-flex" id="githubId" src="~/avatars/GitHub_Logo_White.png" /></a>
    </div>
    <div>
        @* *@
    </div>
</div>
